<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ar Condicionado</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="">

    <!-- INÍCIO MENU -->
    <section>
      <div class="topo"></div>
        <header>
          <a href="#"><img src="" alt="logo" class="logo"></a>
          <nav class="navigation">
            <ul>
              <li><a href="index.html#home"Home>Home</a></li>
              <li><a href="index.html#servicos"Serviços>Serviços</a></li>
              <li><a href="index.html#sobre"Sobre nós>Sobre</a></li>
              <li><a href="index.html#produtos"Produtos>Produtos</a></li>
              <li><a href="index.html#contato"Contato>Contato</a></li> 
            </ul>
          </nav>
        </header>
      </section>
      <!-- INÍCIO ÁREA INICIAL -->
      <section id="area_inicial">
        <div class="imagem">
          <img src="../img/energia_solar.png" alt="imagem com uma placa fotovoltaica e uma lampada" class="tamanho">
        </div>
        <div class="imagem1">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab consequatur amet. Minima cupiditate ratione labore nam quas consequatur dolores sequi omnis quae id esse excepturi, quia corrupti quasi earum.</p>
          <img src="../img/linha.svg" alt="linha decorativa do texto">
        </div>
      </section>
      <!-- FIM ÁREA INICIAL -->

      <!-- FIM MENU -->

      <!-- INÍCIO ÁREA MISSÃO -->
      <section id="area_missao">
        <div>
          <h1>Missão</h1>
        </div>
        <div>
          <h1>Visão</h1>
        </div>
        <div>
          <h1>Valores</h1>
        </div>
      </section>
      <!-- FIM ÁREA MISSÃO -->
      <!-- INÍCIO SERVIÇOS -->
      <section id="servicos">
        
      </section>
      <!-- FIM SERVIÇOS -->
      <!-- INÍCIO SOBRE -->
      <section id="sobre">
        <div>
          <h1>Sobre Nós</h1>
          <img src="../img/linha.svg" alt="linha decorativa do texto">
        </div>
        <div>
          <!-- LOGO DA EMPRESA -->
        </div>
      </section>
      <!-- FIM SOBRE -->
      <!-- INÍCIO ÁREA DE PRODUTOS -->
      <section id="produtos">
        <!-- TITULO PRODUTOS -->
        <h1>Produtos</h1>
        <!-- IMAGEM EMBAIXO DO TITULO -->
        <div>
          <img src="../img/linha.svg" alt="linha decorativa do texto">
        </div>
        <!-- BOTÕES QUE SELECIONAM IMAGENS-->
        <form>
          <input type="radio" ng-model="opcao" value="arcondicionado">Ar Condicionado
          <input type="radio" ng-model="opcao" value="inverter">Ar Condicionado Inverter
          <input type="radio" ng-model="opcao" value="multisplt">Multi Split
          <input type="radio" ng-model="opcao" value="solar">Energia Solar
        </form>
        <!-- IMAGENS -->
        <div ng-switch="opcao">
          <div ng-switch-when="arcondicionado">
            <img src="../img/ar1.jpg" alt="climatizador residencial">
            <img src="../img/ar2.jpg" alt="climatizador residencial">
            <img src="../img/ar3.jpg" alt="climatizador residencial">
            <img src="../img/ar4.jpg" alt="climatizador residencial">
            <img src="../img/ar5.jpg" alt="climatizador residencial">
          </div>
          <div ng-switch-when="inverter">
            <img src="../img/inverter1.jpg" alt="ar condicionado inverter">
            <img src="../img/inverter2.jpg" alt="ar condicionado inverter">
            <img src="../img/inverter3.jpg" alt="ar condicionado inverter">
            <img src="../img/inverter4.jpg" alt="ar condicionado inverter">
            <img src="../img/inverter5.jpg" alt="ar condicionado inverter">
          </div>
          <div ng-switch-when="multisplit">
            <img src="../img/multisplit1.jpg" alt="ar condicionado multi split">
            <img src="../img/multisplit2.jpg" alt="ar condicionado multi split">
            <img src="../img/multisplit3.jpg" alt="ar condicionado multi split">
            <img src="../img/multisplit4.jpg" alt="ar condicionado multi split">
            <img src="../img/multisplit5.jpg" alt="ar condicionado multi split">
          </div>
          <div ng-switch-when>
            <img src="../img/solar1.jpg" alt="placa fotovoltaica">
            <img src="../img/solar2.jpg" alt="placa fotovoltaica">
            <img src="../img/solar3.jpg" alt="placa fotovoltaica">
            <img src="../img/solar5.jpg" alt="placa fotovoltaica">
            <img src="../img/solar5.jpg" alt="placa fotovoltaica">
          </div>
        </div>
        
      </section>
      <!-- FIM ÁREA DE PRODUTOS -->
      <!-- INÍCIO ÁREA DE CONTATO -->
      <section id="contato">
        <div>
          <img src="../img/ar_condicionado.png" alt="imagem ar condicionado">
        </div>
        <div>
          <p>
            <input type="text" ng-model="nome_contato" placeholder="Nome" class="borda">
          </p>
          <p>
            <input type="text" ng-model="email" placeholder="E-mail" class="borda">
          </p>
          <p>
            <input type="text" ng-model="Mensagem" placeholder="Mensagem" class="borda">
          </p>
        </div>
        <button type="submit">Enviar</button>
      </section>
      <!-- FIM ÁREA DE CONTATO -->
</body>
</html>