/* INÍCIO USO GERAL */
.alinhar{
   display: flex;
   justify-content: space-around;
   text-align: center;
}

.linhad{
   width: 20%;
}
/* FIM USO GERAL */

/* INÍCIO MENU */
.menu{
   display: inline-block;
   margin-right: 400px;
   font-size: x-large;
}
/* FIM MENU */

/* INÍCIO ÁREA INICIAL */

/* FIM ÁREA INICIAL */

/* INÍCIO ÁREA MISSÃO */

/* FIM ÁREA MISSÃO */

/* INÍCIO SERVIÇOS */
/* FIM SERVIÇOS */

/* INÍCIO SOBRE */

/* FIM SOBRE */

/* INÍCIO PRODUTOS */
.linha{
   display: flex;
   justify-content: space-around;
}

.w50{
   width: 50%;
   margin: 20px auto;
}

.w75{
   width: 75%;
   margin: 20px auto;
}

.w100{
   width: 100%;
   margin: 20px auto;
}

.borda:hover{
   border-color: black;
   border-style: solid;
   border-width: 1px;
   padding: 5px;
}

/* inicio imagens produtos */
.alinhar2{
   display: flex;
   justify-content: space-around;
}

.tamanho_imagem{
   width: 50%;
   border-color: black;
   border-style: solid;
   border-width: 1px;
}
/* fim imagens produtos */

/* FIM PRODUTOS */

/* INÍCIO CONTATO */
.borda{
   border-top: none;
   border-left: none;
   border-right: none;
}
/* FIM CONTATO */
