/* INÍCIO MENU */

/* FIM MENU */

/* INÍCIO ÁREA INICIAL */
#area_inicial{
   display: flex;
   justify-content: space-around;
}
.imagem{
   width: 50%;
}

.imagem1{
   width: 50%;
}
.tamanho{
   width: 100%;
   height: 100%;
}
/* FIM ÁREA INICIAL */

/* INÍCIO ÁREA MISSÃO */

/* FIM ÁREA MISSÃO */

/* INÍCIO SERVIÇOS */
/* FIM SERVIÇOS */

/* INÍCIO SOBRE */
/* FIM SOBRE */

/* INÍCIO PRODUTOS */
/* FIM PRODUTOS */

/* INÍCIO CONTATO */
.borda{
   border-top: none;
   border-left: none;
   border-right: none;
}
/* FIM CONTATO */