<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ar Condicionado</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="">
    <section>
      <div class="topo"></div>
        <header>
          <a href="#"><img src="" alt="logo" class="logo"></a>
          <nav class="navigation">
            <ul>
              <li><a href="index.html#home"Home>Home</a></li>
              <li><a href="index.html#servicos"Serviços>Serviços</a></li>
              <li><a href="index.html#sobre"Sobre nós>Sobre</a></li>
              <li><a href="index.html#produtos"Produtos>Produtos</a></li>
              <li><a href="index.html#contato"Contato>Contato</a></li> 
            </ul>
          </nav>
        </header>
      </section>
      <section id="area_inicial">
        <div>
          <img src="../img/energia_solar.png" alt="imagem com uma placa fotovoltaica e uma lampada">
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab consequatur amet. Minima cupiditate ratione labore nam quas consequatur dolores sequi omnis quae id esse excepturi, quia corrupti quasi earum.</p>
          <img src="../img/linha.svg" alt="linha decorativa do texto">
        </div>
      </section>
      <section id="area_missao">
        <div>
          <h1>Missão</h1>
          <p>vai corinthians</p>
        </div>
        <div>
          <h1>Visão</h1>
          <p>vamo timão</p>
        </div>
        <div>
          <h1>Valores</h1>
          <p>é o coringão</p>
        </div>
      </section>
      <!-- INÍCIO SERVIÇOS -->
      <section id="servicos">
        
      </section>
      <!-- FIM SERVIÇOS -->
      <!-- INÍCIO SOBRE -->
      <section id="sobre">
        <div>
          <h1>Sobre Nós</h1>
          <img src="../img/linha.svg" alt="linha decorativa do texto">
        </div>
        <div>
          <!-- LOGO DA EMPRESA -->
        </div>
      </section>
      <!-- FIM SOBRE -->
      <!-- INÍCIO ÁREA DE PRODUTOS -->
      <section id="produtos">
        
      </section>
      <!-- FIM ÁREA DE PRODUTOS -->
      <!-- INÍCIO ÁREA DE CONTATO -->
      <section id="contato">
        <div>
          <img src="../img/ar_condicionado.png" alt="imagem ar condicionado">
        </div>
        <div>
          <p>
            Nome: <input type="text" ng-model="nome" placeholder="Nome">
          </p>
          <p>
            E-mail: <input type="text" ng-model="email" placeholder="E-mail">
          </p>
          <p>
            Mensagem: <input type="text" ng-model="Mensagem" placeholder="Mensagem">
          </p>
        </div>
      </section>
      <!-- FIM ÁREA DE CONTATO -->

</body>
</html>